<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Book List</title>
</head>
<body>

<h1>Book List</h1>
	<div th:if="${books}">
		<div th:each="book : ${books}">
			Book Name: <span th:text="${book.name}"></span> <br></br>
			Book ISBN: <span th:text="${book.isbn}"></span> <br></br>
			Book Author: <span th:text="${book.author}"></span> <br></br>
			Book Price: <span	th:text="${book.price}"></span> <br></br>
		</div>
	</div>
	<div th:unless="${books}">Book not found.</div>

</body>
</html>