<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Book List</title>
<th:block th:include="head :: bootstrap" />
</head>
<body>

	<h1 class="text-center">Book List</h1>

	<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<form class=" col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12"
			method="get" th:action="@{/books/lookup}" role="form">

			<div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<input size="100" class="form-control" type="text" name="isbn"
					placeholder="ISBN"></input>
			</div>

			<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<input class="btn btn-inverse btn-block btn-md" type="submit"
					value="搜尋"></input>
			</div>
		</form>

		<form class=" col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12"
			method="post" th:action="@{/books}" role="form">

			<div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<input class="form-control" type="text" name="name"
					placeholder="Name"></input>
			</div>

			<div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<input class="form-control" type="text" name="isbn"
					placeholder="ISBN"></input>
			</div>

			<div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<input class="form-control" type="text" name="author"
					placeholder="Author"></input>
			</div>

			<div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<input class="form-control" type="number" name="price"
					placeholder="Price"></input>
			</div>
			<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<input class="btn btn-inverse btn-block btn-md" type="submit"
					value="新增"></input>
			</div>
		</form>
	</div>

	<div th:if="${books}">
		<table
			class="table table-responsive table-bordered table-striped table-condensed table-hover">
			<thead>
				<tr>
					<td>##</td>
					<td><strong>Name</strong></td>
					<td><strong>ISBN</strong></td>
					<td><strong>Author</strong></td>
					<td><strong>Price</strong></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book, iterationStatus: ${books}">
					<td th:text="${iterationStatus.count}"></td>
					<td th:text="${book.name}"></td>
					<td th:text="${book.isbn}"></td>
					<td th:text="${book.author}"></td>
					<td th:text="${book.price}"></td>
					<td>
						<form method="get"
							th:action="@{${'/books/' + book.isbn }}">
							<button type="submit" class="btn btn-block btn-sm btn-info">
								<i class='glyphicon glyphicon-pencil' th:text="修訂價格"></i>
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div th:unless="${books}"
		class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">Book
		not found.</div>

	<h2 th:if="${errorMessage}"
		class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12"
		th:text="${errorMessage}"></h2>

</body>
</html>