<html>
<head>
<title>Line Chart</title>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {
		'packages' : [ 'corechart' ]
	});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		$.getJSON('/api/line-chart', function(res) {
			var data = new google.visualization.DataTable(res, 0.6);

			var options = {
				title : 'Line Chart',
				curveType : 'function',
				legend : {
					position : 'bottom'
				}
			};

			var chart = new google.visualization.LineChart(document
					.getElementById('curve_chart'));

			chart.draw(data, options);
		});
	}
</script>
</head>
<body>
	<div id="curve_chart" style="width: 1000px; height: 600px"></div>
</body>
</html>